body {
  margin: 0 auto;
  max-width: 1100px;
  background-color: black;
  color: white;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(175, 162, 221);
}

p {
  margin: 20px auto;
}

button {
  background-color: none;
  margin: auto;
  background-color: rgb(240, 24, 0);
  border: 3px rgb(255, 255, 255) solid;
  margin: 0 auto;
  border-radius: 10px;
}

.video_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  margin: 6vh auto;
  background-color: rgba(20, 20, 20, 0.11);
  border-radius: 20px;
  width: 95%;
}

.videoSize {
  height: 55vh;
  width: 800px;
}

.switchArrow {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  text-align: center;
  color: white;
  transition: ease-in-out 200ms;
}

.switchArrow:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 962px) {
  .videoSize {
    width: 280px;
  }
  .switchArrow {
    width: 20px;
    height: 50px;
  }
  .video_Container {
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0);
  }
}
@media only screen and (max-width: 350px) {
  .switchArrow {
    width: 100%;
    flex-direction: column;
  }
  button {
    width: 270px;
    margin: 1vh auto;
  }
  .videoSize {
    height: 50vh;
  }
  .switchArrow:hover {
    transform: scale(1.05);
  }
}
header {
  background-color: orange;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
  border: "2px solid white";
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  border-radius: 20px;
  width: 95%;
}

footer {
  display: flex;
  margin: 1vh auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: 8vh;
  width: 95%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=index.css.map */